# .env files
*.env

# Igonore role files as they are based on local files
roles.json
roles_test.json

# Ignore seq dia files
*.uxf

# ignore python cache
__pycache__
cogs/__pycache__

# ignore my setup file
mysetup.json